/* global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  outline: none;
}
ul {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
.container {
  width: 85%;
  margin: auto;
}
@media (max-width: 700px) {
  .container {
    width: 95%;
  }
}
:root {
  --primary: #30c957;
  --secondary: #f56719;
}
.smooth-transition {
  transition: all 0.3s ease 0s;
}
.smooth-transition-nav{
  transition: all 1.2s ease 0s;
}
/* ********************************************* */
/*header*/
header {
  background-color: #27343e;
  color: #fff;
  padding: 13px 0px;
}
header a {
  color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
}
.social-media-list a {
  color: #8798a6;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  width: 22px;
  outline: none;
  transition: all 0.3s ease 0s;
}
.social-media-list a:hover {
  background-color: #506acb;
  color: #fff;
}
header .container div:nth-of-type(2) {
  display: flex;
}
header .container div:nth-of-type(2) a {
  margin-right: 15px;
  font-family: sans-serif;
  font-size: 11px;
  text-transform: capitalize;
  border-right: 1px solid #fff;
  height: 15px;
  padding-right: 15px;
  align-self: center;
}

.cart {
  align-self: center;
  display: flex;
}
.cart-number {
  background-color: var(--primary);
  border-radius: 50%;
  font-size: 12px;
  padding: 4px 8px;
  font-weight: bold;
}
.cart-icon {
  font-size: 10px;
  padding: 4px 6px;
  background-color: #3c4e5c;
  border-radius: 50%;
  margin-left: -4px;
}
.cart button {
  background-color: var(--secondary);
  border: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px 12px;
  margin-left: 25px;
  outline: none;
  cursor: pointer;
}
.cart button:hover {
  background-color: var(--primary);
}
.cart button i {
  margin-right: 10px;
}
@media (max-width: 625px) {
  header .container {
    flex-direction: column;
  }
  .social-media-list {
    margin-bottom: 10px;
  }
  header .container div:nth-of-type(2) {
    align-self: flex-end;
    justify-self: flex-end;
  }
}
/* *************************************** */
/* navbar */
nav .container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
}
.navScroll{
  position: fixed;
  top: 0px;
  background: #fff;
  width: 100%;
  z-index: 20;
}
.navbar {
  display: flex;
  align-self: center;
}
.nav-list{
  display: flex;
}
.nav-list li{
  display: flex;
  flex-direction: column;
}
.nav-item {
  text-transform: uppercase;
  margin-left: 35px;
  font-size: 11px;
  color: #5a6975;
  padding: 10px 0px; 
  /* padding-bottom: 10px; */
  display: inline-block;
}
.nav-item::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s ease 0s;
}
.nav-item:hover {
  color: var(--primary);
}
.nav-item:hover::after{width: 100%;}
.search-bar{
  margin-left: 25px;
  align-self: center;
  margin-top: -14px;
  display: flex;
  border: 1px solid #5a697541;
  padding: 8px 12px;
  border-radius: 20px;
}
.search-barOnfocus {
  border-color: var(--primary);
}
.search-bar input{
  border: none;
  color: #5a6975;
  font-style: italic;
  font-size: 10px;
}
.search-bar button{
  background: none;
  border: none;
  cursor: pointer;
  color: #5a69756b;
}
.secondary-list{
  display: none;
  font-size: 11px;
  text-transform: uppercase;
  width: 180px;
  background-color: #fff;
  position: relative;
  left: 0;
}
.secondary-list li{
  padding: 15px 5px;
  border-bottom: 1px solid #5a697541;
  cursor: pointer;
}
.secondary-list li:hover{
  background-color: var(--primary);
  border: none;
}
.secondary-list li:hover a{
  color: #fff;
}
.secondary-list a{
  color: #5a6975;
}
.hamburger-menu{
  background-color: var(--primary);
  align-self: center;
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: -10px;
  display: none;
}
.hamburger-menu a{
  color: #fff;
  font-size: 12px;
}

@media(max-width : 1200px){
  .nav-list{
    flex-direction: column;
    order: 3;
    margin-left: auto;
    grid-column-start: 1;
    grid-column-end: end;
    margin-left: -30px;
    margin-top: 30px;
  }
  .nav-list-mobile{
    display: none;
  }
  .nav-item {
    text-transform: uppercase;
    margin-left: 35px;
    font-size: 11px;
    color: #fff;
    background-color: #27343e;
    padding: 10px 0px; 
    border-bottom: 1px solid #5a697541;
    display: inline-block;
    padding-left: 15px;
  }
  .nav-item:hover {
    color: var(--primary);
  }
  .nav-item:hover::after{width: 0%;}
  nav .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
    margin-left: 0px;
  }
  .hamburger-menu{
    display: inline-block;
    width: 30px;
    margin-left: auto;
    margin-right: 45px;
    margin-top: 25px;
  }
  .search-bar{
    margin-right: auto;
    margin-left: -25px;
    margin-top: 25px;
  }
  nav .container{
    width: 95%;
  }
}
/* *************************************** */
/* main-section */
#main .slide{
  background-size: cover;
  padding: 12em 0em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  max-height: 670px;
}
#main .slide:first-of-type{
  background-image: url("../Images/slides/1\ \(1\).jpg");
}
#main .slide:nth-of-type(2){
  background-image: url("../Images/slides/2.jpg");
}
#main .slide:last-of-type{
  background-image: url("../Images/slides/3.jpg");
}
.slide .address{
  color: var(--primary);
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 550px;
  background-color: #27343ed3;
  padding: 6px;
  border-radius: 30px;
}
.address i{
  font-size: 12px;
  margin-right: 3px;
}
.slide .title{
  font-size: 60px;
  margin-top: 20px;
  text-shadow: 1px 1px 20px #000;
}
.slide .small-title{
  font-size: 20px;
  letter-spacing: 8px;
  text-shadow: 1px 1px 20px #000;
  margin-top: 15px;
  margin-bottom: 20px;
}
.timer{
  font-size: 60px;
  background-color: #a2af619d;
  width: 450px;
  display: block;
  margin:auto;
  letter-spacing: 8px;
  font-weight: bold;
}
.buy-ticket{
  display: block;
  margin: auto;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  background-color: var(--secondary);
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 20px;
}
.buy-ticket:hover{
  background-color: var(--primary);
}
button.prev-arrow, button.next-arrow{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.479);
  border: none;
  padding: 1em;
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 10;
  top: 300px;
  opacity: 0;
}
#main:hover button.prev-arrow, #main:hover button.next-arrow{
  opacity: 1;
}
button.prev-arrow:hover, button.next-arrow:hover{
  background-color: #000;
}
button.next-arrow{
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: 25px;
}
button.prev-arrow{
  left: 0px;
  right: 0px;
  margin-left: 25px;
}
@media(max-width: 600px){
  #main .slide *{
    display: none;
  }
  #main .slide{
    max-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  button.prev-arrow, button.next-arrow{
    top: 120px;
  }
}
/* *************************************** */
/* planning-section */
#planning{
  background-color: #f5f4f4 ;
  padding: 6em 0em; 
}
#planning .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#planning .content-container{
  background-color: #fff;
  padding:40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
#planning .content-container h3{
  font-size: 35px;
  margin-bottom: 0px;
  margin-left: 30px;
}
.events-type-list{
  display: flex;
  margin: 15px 0px;
  margin-left: 30px;
  flex-wrap: wrap;
}
.events-type-list li{
  margin-right: 8px;
  color: var(--primary);
}
.events-type-list a{
  font-size: 15px;
  color: var(--primary);
}
.content-container p{
  font-size: 13px;
  line-height: 30px;
  color: #5f5f5f;
  margin-left: 30px;
}
.content-container button{
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 20px;
  max-width: 215px;
  margin-left: 30px;
}
.content-container button:hover{
  background-color: var(--secondary);
}
.content-container .planning-list{
  margin-top: auto;
  bottom: 0px;
  border-top: 1px solid #5f5f5f2d;
  padding: 15px 0px;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content-container .planning-list a{
  text-transform: capitalize;
  opacity: 0.5;
}
.content-container .planning-list i{
  color: var(--primary);
  font-size: 5px;
  margin-right: 8px;
  line-height: 15px;
}
.content-container .planning-list a.active-item{
  opacity: 1;
}
@media(max-width:1200px){
  #planning .container{
    grid-template-columns: 1fr;
  }
  .content-container .planning-list{
    margin-top: 20px;
    justify-content: space-between;
    padding: 15px 10px;
  }
  .image-container img{
    width: 100%;
  }
}
/* ********************************************* */
/*upcoming events*/
#upcoming-events{
  padding: 6em 0em;
  text-align: center;
}
#upcoming-events h1{
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 35px;
}
.event-list{
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.event{
  width: 30%;
}
.event-list .event:first-of-type .image-container{
  background-image: url("../Images/upcoming-event/1.jpg");
  background-size: cover;
}
.event-list .event:nth-of-type(2) .image-container{
  background-image: url("../Images/upcoming-event/2.jpg");
  background-size: cover;
}
.event-list .event:last-of-type .image-container{
  background-image: url("../Images/upcoming-event/3.jpg");
  background-size: cover;
}
.event-list .event .image-container{
  width: 100%;
}
.event-list .event .image-container .scale-div{
  background-color: #30c956a1;
  padding: 4em 0em;
  transform: scale(0);
}
.event-list .event .image-container:hover .scale-div{
  transform: scale(1);
}
.event-list .event .image-container .scale-div button{
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--secondary);
  color: #fff;
}
.event-list .event .image-container .scale-div button:hover{
  background-color: #fff;
  color: var(--secondary);
}
.event .event-info{
  padding: 2em 1em;
  text-align: left;
  line-height: 30px;
  border: 1px solid rgba(204, 204, 204, 0.589);
}
.event .event-info a{
  color: #252525;
  font-size: 16px;
}
.event .event-info a:hover{
  color: var(--secondary);
}
.event .event-info p{
  font-size: 12px;
  margin-top: 15px;
  color: #5f5f5f;
}
.event-info .more-info{
  display: flex;
  font-size: 12px;
  margin-top: 15px;
  color: #5f5f5f;
}
.event-info .more-info div:first-of-type{
  margin-right: 20px;
}
.event-info .more-info i{
  color: var(--primary);
  margin-right: 10px;
}
.event button.goto-event{
  display: block;
  margin: 0px;
  margin-left: auto;
  margin-right: 25px;
  border: none;
  background-color: var(--primary);
  font-size: 20px;
  width: 80px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.event button.goto-event:hover{
  background-color: var(--secondary);
}
@media(max-width: 760px){
  .event-list{
    flex-direction: column;
    width: 100%;
  }
  .event{
    width: 100%;
    margin-bottom: 55px;
  }
  .event-list .event .image-container .scale-div{
    padding: 8em 0em;
  }

}
/* ********************************************* */
/*weekly schedule*/
#weekly-schedule{
  background-color: #f5f4f4 ;
  padding: 6em 0em; 
}
#weekly-schedule .first-div{
  display: flex;
  margin-bottom: 45px;
}
#weekly-schedule h1{
  text-transform: capitalize;
  font-size: 35px;
  display: inline;
}
.download-schedule{
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #91a9bb ;
  width: 200px;
  border-radius: 30px;
  font-size: 11px;
  margin-left: auto;
}
.download-schedule:hover{
  background-color: var(--primary);
}
#weekly-schedule .section-title-icon{
  display: block;
}
.schedule{
  margin-top: 45px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 10px;
}
.schedule .days .day{
  background-color: #fff;
  text-align: center;
  margin-bottom: 10px;
  padding: 1em 0em;
  cursor: pointer;
  border-radius: 6px;
  text-transform: capitalize;
  font-size: 14px;
  color: #91a9bb;
}
.schedule .days .day span{
  cursor: none;
}
.schedule .days div.active-day{
  background-color: var(--primary);
  color: #fff;
}
.main-schedules{
  background-color: #fff;
  padding: 20px;
  color: #5f5f5f;
  font-size: 12px;
}
.main-schedule{
  padding-bottom: 30px;
  border-left: 1px solid #9494947a;
}
.main-schedule .time{
  margin-bottom: 20px;
}
.main-schedule .time i{
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
  margin-left: -11px;
}
.main-schedule .time span{
  margin-left: 15px;
}
.main-schedule .title{
  margin-left: 25px;
  font-size: 16px;
}
.main-schedule .title:hover{color: var(--secondary);}
.main-schedule .slide-text{
  margin-left: 25px;
  margin-top: 20px;
}

.main-schedule .slide-text p{
  line-height: 30px;
}
.main-schedule .speaker{
  margin-top: 15px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.main-schedule .speaker a{
  text-transform: uppercase;
  margin-left: 75px;
  color: var(--secondary);
}
.main-schedule .speaker > span{
  margin-left: 20px;
}
.main-schedule .speaker a span{
  margin-right: 10px;
  font-size: 13px;
}
.main-schedules .load-more{
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #91a9bb ;
  width: 100px;
  padding: 1em 0em;
  opacity: 0.5;
  border-radius: 30px;
  font-size: 11px;
  margin-left: -10px;
}
.main-schedules .load-more:hover{
  background-color: var(--primary);
  opacity: 1;
}
@media(max-width: 1020px){
  .schedule{
    grid-template-columns: 2fr 4fr;
  }
  #weekly-schedule .first-div{
    flex-direction: column;
  }
  .download-schedule{
    margin-left: 0px;
    margin-top: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
/* ********************************************* */
/*Speakers*/
#speakers{
  padding: 6em 0em;
  text-align: center;
}
#speakers h1{
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 35px;
}
#speakers p{
  margin: auto;
  margin-bottom: 20px;
  font-size: 12px;
  color: #5f5f5f;
  line-height: 32px;
  width: 85%;
}
#speakers .speakers {
  margin-top: 80px;
}
#speakers .speaker{
  display: grid;
  height: auto;
}
#speakers .speaker img{
  width: 100%;
}
#speakers .speaker-highlight{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #27343ec0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#speakers .speaker-highlight .text{
  text-align: left;
}
#speakers .speaker-highlight .text span{
  text-transform: uppercase;
  color: var(--primary);
  font-size: 12px;
}
#speakers .speaker-highlight .text h3{
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
#speakers .speaker-highlight button{
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  color: #fff;
  padding: .8em 1em;
  border-radius: 3px;
}
#speakers button.chevron-left, #speakers button.chevron-right{
  background-color: #252525;
  border: none;
  color: #fff;
  margin-top: 20px;
  padding: .9em;
  cursor: pointer;
  border-radius: 3px;
}
#speakers button.chevron-left:hover, #speakers button.chevron-right:hover{
  background-color: var(--primary);
}
/* ********************************************* */
/*Pricing*/
#pricing{
  padding: 6em 0em;
  text-align: center;
  background-color: #f5f4f4;
}
#pricing h1{
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 35px;
}
.plans-list{
  margin: auto;
  margin-top: 40px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.plan{
  background-color: #fff;
  padding: 2em 0em;
  text-align: center;
  width: 25%;
}
.plan:hover{
  transform: scale(1.1);
  border: 1px solid #9696967e;
  border-top: 5px solid var(--secondary);
}
.plan .pricing{
  padding-bottom: 2em;
  border-bottom: 1px solid #bdbdbd7e;
}
.plan-type{
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 15px;
}
.price{
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 15px;
}
.price span{
  font-size: 32px;
  top: -16px;
  position: relative;
}
.month{
  color: #c3cbd4;
  font-size: 14px;
  font-style: italic;
}
.signing{
  padding-top: 2em;
}
.signing ul{
  font-size: 12px;
}
.signing ul li{
  color: #5f5f5f;
  margin-bottom: 20px;
}
.signing ul li i{
  color: var(--primary);
  margin-right: 10px;
}
.signing button{
  background-color: #fff;
  border: 1px solid #bdbdbd7e;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 1em 2em;
  border-radius: 30px;
  cursor: pointer;
}
.plan:hover .signing button{
  background-color: var(--secondary);
  color: #fff;
  border: none;
}
@media(max-width:1000px){
  .plan{
    width: 50%;
    margin-bottom: 50px;
  }
}
@media(max-width:765px){
  .plans-list{width: 100%;}
  .plan{
    width: 100%;
  }
}
/* ********************************************* */
/*Blog*/
#blog{
  padding: 6em 0em;
  text-align: center;
}
#blog h1{
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 35px;
}
.blog-list{
  width: 85%;
  margin: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.blog .image-container{
  overflow: hidden;
}
.blog:hover .image-container img{
  opacity: 0.8;
  transform: scale(1.1) rotate(-2deg) ;
}
.blog-info{
  padding: 1.5em 0em;
  text-align: left;
}
.blog-info .title{
  color: #252525;
  font-size: 16px;
}
.blog-info .title:hover{
  color: var(--secondary);
}
.blog-info ul{
  display: flex;
  margin: 10px 0px;
}
.blog-info ul li{
  margin-right: 8px;
  color: var(--primary);
}
.blog-info ul li a{
  font-size: 12px;
  color: var(--primary);
}
.blog-info p{
  font-size: 12px;
  margin-top: 15px;
  color: rgb(95, 95, 95);
  line-height: 30px;
}
a.read-more{
  text-transform: capitalize;
  color: #f56719;
  margin-top: 15px;
  display: block;
  font-size: 12px;
  float: right;
}
a.read-more span{
  margin-right: 8px;
}
@media(max-width: 765px){
  .blog-list{
    grid-template-columns: 1fr;
  }
}